<form [formGroup]='passwordForm' (ngSubmit)="onSubmitForm()">

    <h1 mat-dialog-title class="dialog-title-h1">Change Password</h1>
    <mat-dialog-content>
        <!--oldPassword-->
        <mat-form-field color="accent" class="full-width">
            <input type="password" matInput placeholder="Old Password" autocomplete="off" formControlName="oldPassword"
                required>
            <mat-error *ngIf="eform.oldPassword.invalid && (eform.oldPassword.dirty || eform.oldPassword.touched)">
                <span *ngIf="eform.oldPassword.errors.required" class="alert-danger">
                    Old Password is required
                </span>
                <span *ngIf="eform.oldPassword.errors.maxlength" class="alert-danger">
                    length exceeded
                </span>
            </mat-error>
        </mat-form-field>
        <!--newPassword-->
        <mat-form-field color="accent" class="full-width">
            <input type="password" matInput placeholder="New Password" autocomplete="off" formControlName="newPassword"
                required>
            <mat-error *ngIf="eform.newPassword.invalid && (eform.newPassword.dirty || eform.newPassword.touched)">
                <span *ngIf="eform.newPassword.errors.required" class="alert-danger">
                    New Password is required
                </span>
                <span *ngIf="eform.newPassword.errors.pattern" class="text-danger">
                    <span>Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one
                        special
                        character(@.$!%*?&)</span>
                </span>
                <span *ngIf="eform.newPassword.errors.maxlength" class="alert-danger">
                    length exceeded
                </span>
            </mat-error>
        </mat-form-field>
         <!--confirmPassword-->
         <mat-form-field color="accent" class="full-width">
            <input type="password" matInput placeholder="Confirm Password" autocomplete="off" formControlName="confirmPassword"
                required>
            <mat-error *ngIf="eform.confirmPassword.invalid && (eform.confirmPassword.dirty || eform.confirmPassword.touched)">
                <span *ngIf="eform.confirmPassword.errors.required" class="alert-danger">
                    Confirm your password
                </span>
                <span *ngIf="eform.confirmPassword.errors.pattern" class="text-danger">
                    <span>Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one
                        special
                        character(@.$!%*?&)</span>
                </span>
                <span *ngIf="eform.confirmPassword.errors.maxlength" class="alert-danger">
                    length exceeded
                </span>
                <span *ngIf="eform.confirmPassword.errors.confirmedValidator" class="text-danger">
                    Password doesn't match
                </span>
            </mat-error>
        </mat-form-field>

    </mat-dialog-content>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" color="warn" cdkFocusInitial>Cancel</button>
    </div>

</form>