

<header class="title">
  <h1 class="h3 m-b-0 w-100 m-r-auto" mat-dialog-title>Details</h1> 
</header>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <div class="m-y-10">
        <small class="w-100 f-medium d-block m-b-5 o-50">Network Name:</small>
        <div class="w-100 font-weight-bold">{{row.data.networkName}}</div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="m-y-10">
        <small class="w-100 f-medium d-block m-b-5 o-50">Network Description:</small>
        <div class="w-100 font-weight-bold">{{row.data.networkDescription}}</div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="m-y-10">
        <small class="w-100 f-medium d-block m-b-5 o-50">Network Name Arb:</small>
        <div class="w-100 font-weight-bold">{{row.data.networkNameAR}}</div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="m-y-10">
        <small class="w-100 f-medium d-block m-b-5 o-50">Network Description Arb:</small>
        <div class="w-100 font-weight-bold">{{row.data.networkDescriptionAR}}</div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" cdkFocusInitial>Close</button>
</div>