<div class="loading-indicator" *ngIf="showSpinner">
  <mat-progress-spinner mode="indeterminate" color="primary" strokeWidth="2" diameter="48"></mat-progress-spinner>
</div>
<ng-container>

  <app-header></app-header>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [opened]='isLoggedIn && authService.userIsValid' class="sideNav">
     
      <mat-nav-list>
        <span *ngFor="let item of navItems">
          <app-sidebar-navigation *ngIf="item.children.length>0" [item]="item"></app-sidebar-navigation>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="p-a-10">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--Footer-->

  <mat-toolbar class="mat-h4 footer" color="primary" >
    <div fxLayout="row" fxLayoutAlign=" center" fxFill style="padding: 0px 45px;">
      <div fxFlex="20%">
        <img src="./assets/images/logo.png" style="max-width: 30%;">
      </div>
      <div fxFlex>
        <div class="footer-menu">
          <!-- <ul>
            <li><a [routerLink]="['/']">Home</a></li>          
            <li><a [routerLink]="['/']">Contact Us</a></li>
            <li><a [routerLink]="['/']">Help</a></li>
            <li><a [routerLink]="['/']">Partner Program</a></li>
          </ul> -->
          <a href="javaScript:void(0)"><img src="./assets/images/android-app.png"></a>
          <a href="javaScript:void(0)"><img src="./assets/images/ios-app.png"></a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</ng-container>