<header class="">
    <h1 class="w-100 m-r-auto dialog-title-h1" mat-dialog-title>Details</h1>
  </header>
  <mat-dialog-content>
    <mat-list>
    
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Marriage No :</small>
          <div class="w-100 font-weight-bold">{{row.data.marriageNo}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">brideFirstName :</small>
          <div class="w-100 font-weight-bold">{{row.data.brideFirstName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride LastName:</small>
          <div class="w-100 font-weight-bold">{{row.data.brideLastName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride DOB:</small>
          <div class="w-100 font-weight-bold">{{row.data.brideDOB | date:'dd/MM/yyyy'}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride FatherName :</small>
          <div class="w-100 font-weight-bold">{{row.data.brideFatherName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride MotherName :</small>
          <div class="w-100 font-weight-bold">{{row.data.brideMotherName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride Mobile :</small>
          <div class="w-100 font-weight-bold">{{row.data.brideMobile}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride Email :</small>
          <div class="w-100 font-weight-bold">{{row.data.brideEmail}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Bride Address :</small>
          <div class="w-100 font-weight-bold">{{row.data.brideAddress}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom FirstName :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomFirstName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom LastName :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomLastName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom DOB :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomDOB | date:'dd/MM/yyyy'}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom Father :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomFather}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom Mother :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomMother}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom Email :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomEmail}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Groom Address :</small>
          <div class="w-100 font-weight-bold">{{row.data.groomAddress}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Witness1 :</small>
          <div class="w-100 font-weight-bold">{{row.data.witness1}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Witness2 :</small>
          <div class="w-100 font-weight-bold">{{row.data.witness2}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Family :</small>
          <div class="w-100 font-weight-bold">{{row.data.family?.familyName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Member :</small>
          <div class="w-100 font-weight-bold">{{row.data.member?.firstName}}</div>
        </div>
      </mat-list-item>
      
    </mat-list>
  
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" cdkFocusInitial>Close</button>
  </div>