<header class="">
    <h1 class="w-100 m-r-auto dialog-title-h1" mat-dialog-title>Details</h1>
  </header>
  <mat-dialog-content>
    <mat-list>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Branch:</small>
          <div class="w-100 font-weight-bold">{{row.data.branch.branchName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Service :</small>
          <div class="w-100 font-weight-bold">{{row.data.services.serviceName}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Booking Allowed :</small>
          <div class="w-100 font-weight-bold">{{row.data.numberOfBookingAllowed}}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Start Time :</small>
          <div class="w-100 font-weight-bold">{{row.data.servicePersonStartTime}}</div>
        </div>
      </mat-list-item>   
      <mat-divider></mat-divider>  
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">End Time :</small>
          <div class="w-100 font-weight-bold">{{row.data.servicePersonEndTime}}</div>
        </div>
      </mat-list-item>   
      <mat-divider></mat-divider>  
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Person Level Booking :</small>
          <div class="w-100 font-weight-bold">{{row.data.servicePersonLevelBooking}}</div>
        </div>
      </mat-list-item>   
      <mat-divider></mat-divider>  
      <mat-list-item>
        <div class="m-y-10">
          <small class="w-100 f-medium d-block m-b-5 o-50">Price :</small>
          <div class="w-100 font-weight-bold">{{row.data.servicePrice}}</div>
        </div>
      </mat-list-item>   
      <mat-divider></mat-divider>  
    </mat-list>
  
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" cdkFocusInitial>Close</button>
  </div>