.info{
    padding: 10px;
    text-align: left;
    color: #000000;
    background-color: #f1aeaa;   
    font-weight: 500;
    padding-top: 20px;
}
.info .icon{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}