<form [formGroup]='forgotPswdForm' (ngSubmit)="onSubmitForm()">

    <h1 mat-dialog-title class="dialog-title-h1">Forgot Password</h1>
    <mat-dialog-content>
           <!--Email / Mobile-->
           <mat-form-field class="full-width">
            <input matInput placeholder="User Name" autocomplete="off" formControlName="username" required>
            <mat-error *ngIf="frmSignIn.username.invalid && (frmSignIn.username.dirty || frmSignIn.username.touched)">
                <span *ngIf="frmSignIn.username.errors.required" class="text-danger">
                    <span>Please enter</span>&nbsp;<span>Email or Mobile number</span>
                </span>
                <span *ngIf="frmSignIn.username.errors.pattern" class="text-danger">
                    <span>Please enter</span>&nbsp;<span>valid</span>&nbsp;<span>Email or Mobile number</span>
                </span>
                <span *ngIf="frmSignIn.username.errors.maxlength" class="text-danger">
                    Length exceeded
                </span>
            </mat-error>
          </mat-form-field>   

    </mat-dialog-content>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary">Forgot Passsword</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" color="warn" cdkFocusInitial>Cancel</button>
    </div>

</form>