
<header class="">
    <h1 class="w-100 m-r-auto dialog-title-h1" mat-dialog-title>Details</h1>
</header>
<mat-dialog-content>
    <mat-list>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Family :</small>
                <div class="w-100 font-weight-bold">{{row.data.family.familyId}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Member :</small>
                <div class="w-100 font-weight-bold">{{row.data.member.memberId}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">House No. :</small>
                <div class="w-100 font-weight-bold">{{row.data.houseNo}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Land Phone :</small>
                <div class="w-100 font-weight-bold">{{row.data.houseLandPhone}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">House Name:</small>
                <div class="w-100 font-weight-bold">{{row.data.houseName}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Address :</small>
                <div class="w-100 font-weight-bold">{{row.data.houseAddress1}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Mobile No. :</small>
                <div class="w-100 font-weight-bold">{{row.data.houseMobileNo}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Block :</small>
                <div class="w-100 font-weight-bold">{{row.data.block}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Villege :</small>
                <div class="w-100 font-weight-bold">{{row.data.villege}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Ward :</small>
                <div class="w-100 font-weight-bold">{{row.data.ward}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Area :</small>
                <div class="w-100 font-weight-bold">{{row.data.area}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Zone :</small>
                <div class="w-100 font-weight-bold">{{row.data.zone}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Pincode :</small>
                <div class="w-100 font-weight-bold">{{row.data.pincode}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Ration Type :</small>
                <div class="w-100 font-weight-bold">{{row.data.rationType}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Ration Card No. :</small>
                <div class="w-100 font-weight-bold">{{row.data.rationCardNo}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Relative Mahal :</small>
                <div class="w-100 font-weight-bold">{{row.data.relativeMahal}}</div>
            </div>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Previous Jamath :</small>
                <div class="w-100 font-weight-bold">{{row.data.previousJamath}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="m-y-10">
                <small class="w-100 f-medium d-block m-b-5 o-50">Remarks :</small>
                <div class="w-100 font-weight-bold">{{row.data.remarks}}</div>
            </div>
        </mat-list-item>
    </mat-list>

</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" cdkFocusInitial>Close</button>
</div>