<form [formGroup]='form'>

    <h1 mat-dialog-title class="dialog-title-h1">Add Ons Management</h1>
    <mat-dialog-content>
        <mat-card class="m-t-5 m-b-10">
            <mat-card-header>
                <mat-card-title>New Add Ons</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!--Choose service Mapping -->
                <mat-form-field class="full-width" formGroupName="serviceMappingBean">
                    <mat-label>Choose Add ons Service</mat-label>
                    <mat-select formControlName="serviceMappingId"
                        (selectionChange)="serviceSelectionChange($event.value)">
                        <mat-option *ngFor="let item of adonsServices" [value]="item.serviceMappingId">
                            {{item.services.serviceName}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="form.get('serviceMappingBean.serviceMappingId').invalid && (form.get('serviceMappingBean.serviceMappingId').dirty || form.get('serviceMappingBean.serviceMappingId').touched)">
                        <span *ngIf="form.get('serviceMappingBean.serviceMappingId').errors.required"
                            class="alert-danger">
                            Please choose service
                        </span>
                    </mat-error>
                </mat-form-field>

                <!--Choose service Person -->
                <mat-form-field class="full-width">
                    <mat-label>Choose Person</mat-label>
                    <mat-select formControlName="servicePersonId">
                        <mat-option *ngFor="let item of servicePersons" [value]="item.servicePersonId">
                            {{item.servicePersonName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--addonComments-->
                <mat-form-field color="accent" class="full-width">
                    <mat-label>Comment</mat-label>
                    <textarea matInput formControlName="addonComments"></textarea>
                    <mat-error
                        *ngIf="eform.addonComments.invalid && (eform.addonComments.dirty || eform.addonComments.touched)">
                        <span *ngIf="eform.addonComments.errors.maxlength" class="alert-danger">
                            length exceeded
                        </span>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" mat-raised-button color="primary" (click)="onSubmit()">Add & Continue</button>
            </mat-card-actions>
        </mat-card>


        <mat-card>
            <mat-card-header>
                <mat-card-title>Add ons</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <div *ngFor="let item of listToProcess;let i=index">
                        <mat-list-item><a href="javascript:;" (click)="removeAddOns(i)"
                                matTooltip="Remove Add One Services" matTooltipPosition="above" class="p-r-5">
                                <span class="material-icons">remove_circle_outline</span></a> {{item.serviceName}}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </mat-dialog-content>
    <div mat-dialog-actions>

        <button type="button" mat-raised-button color="primary" (click)="onSubmitAndClose()">Submit</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="'NO'" cdkFocusInitial>Cancel</button>
    </div>

</form>